---
version: '3.8'
services:
  nginx:
    restart: always
    ports:
      - 1111:1111
    networks:
           defectdojo: 
              ipv4_address: 172.30.2.10
  uwsgi:
    restart: always
    networks:
      - defectdojo
    
  celerybeat:
    restart: always
    networks:
      - defectdojo
  celeryworker:
    restart: always
    networks:
      - defectdojo
  initializer:
    restart: always
    networks:
      - defectdojo
  mysql:
    restart: always
    networks:
      - defectdojo
  postgres:
    restart: always
    networks:
      - defectdojo
  rabbitmq:
    restart: always
    networks:
      - defectdojo
  redis:
    restart: always
    networks:
      - defectdojo




networks:
  defectdojo:
    ipam:
      config:
      - subnet: 172.30.2.0/24