[Interface]
Address = 10.8.0.1/24
ListenPort = {{ vpn.port }}
PrivateKey = {{ privkey.stdout }}
PostUp = iptables -A FORWARD -i {{ ansible_default_ipv4.interface }}  -o wg0 -j ACCEPT; iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }}  -j MASQUERADE; ip6tables -A FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }}  -j MASQUERADE; iptables -A INPUT -i {{ ansible_default_ipv4.interface }} -p tcp --dport 22 -j ACCEPT; iptables -A INPUT -i {{ ansible_default_ipv4.interface }} -p tcp --dport 51820 -j ACCEPT; iptables -A INPUT -i {{ ansible_default_ipv4.interface }} -j DROP
PostDown = iptables -D FORWARD -i {{ ansible_default_ipv4.interface }}  -o wg0 -j ACCEPT; iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }}  -j MASQUERADE; ip6tables -D FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }}  -j MASQUERADE ; iptables -D INPUT -i {{ ansible_default_ipv4.interface }} -p tcp --dport 22 -j ACCEPT; iptables -D INPUT -i {{ ansible_default_ipv4.interface }} -p tcp --dport 51820 -j ACCEPT; iptables -D INPUT -i {{ ansible_default_ipv4.interface }} -j DROP