client
#dev tun
dev tap
proto udp
remote {{ ansible_host }} {{ vpn.port }} udp
resolv-retry infinite
nobind
persist-key
persist-tun
dhcp-option DNS {{ hostvars[groups['vpn'][0]]['vpn_ips']['dns'] }}
ca ca.crt
cert client.crt
key client.key
remote-cert-tls server
tls-auth ta.key 1
cipher AES-256-CBC
data-ciphers AES-256-CBC
data-ciphers-fallback AES-256-CBC
comp-lzo
verb 3
