//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "vault.avecaesar.ru." {
                type master;
                file "/etc/bind/master-zones/vault.avecaesar.ru.local.zone";
};


