FROM 1dev/agent:{{ onedev.version_agent }}

WORKDIR /

RUN apt update && \
    apt install sudo && \
    curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin && \
    curl -fsSL https://raw.githubusercontent.com/ZupIT/horusec/master/deployments/scripts/install.sh | bash -s latest

CMD ["/agent/boot/wrapper-linux-x86-64","/agent/conf/wrapper.conf"]
