version: '3'
services:


    onedev:
        image: 1dev/server
        hostname: onedev
        restart: always
        container_name: onedev
        
        
        volumes:
            - /home/{{ ansible_user }}/onedev/state:/opt/onedev
            - {{ onedev.sock_docker }}:/var/run/docker.sock
        environment:
            - initial_user={{ onedev.username }}
            - initial_password={{ onedev.password }}
            - initial_email={{ onedev.email }}
            - initial_server_url=https://{{ onedev.domen }}
    
        networks:
           onedev: 
              ipv4_address: 172.29.2.10
networks:
  onedev:
    ipam:
      config:
      - subnet: 172.29.2.0/24

      